		@font-face{
    font-family:"10712";
    src:url(Fonts/10712.ttf);
}

body{
    font-family: "10712";
    background: #09865C;
}
#one{
    background: #1F843F;
    color: #191970;
    position: fixed;
    width: 40%;
    text-align: center;
    height: auto ;
    margin-left: 30%;
    margin-top: 1%;
    border: 8px solid blue;
    font-size: 5em;
    font-family: "10712";
}

a{
    text-decoration: none;
    color: aqua;
}

#three{
    color: whitesmoke;
}

#five{
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    list-style: none;
    border: 4px solid black;
    color: black;
}

#new{
    border: 3px solid black;
    background: url(https://i.ytimg.com/vi/uJLFGxUQytU/maxresdefault.jpg);
    color:black;
    font-family: "10712";
    font-size: 13em;
}

.href{
    color: black;
    font-size: 5em;
    font-family: monospace;
    margin-left: 3%;
}

